.DS_Store
*.autosave
*.slx
slprj
*.slxc
files/matlab/
files/intermediate/
files/bpmn/*.bpmn2
!files/bpmn/SampleUseCase.bpmn2
M2T/org.eclipse.acceleo.module.int2mat/Other/
M2T/org.eclipse.acceleo.module.int2mat/bin/
Other/
M2M/BPMN2Intermediate/Other/
*.edit/
*.editor/
*.tests/
.project
.classpath
.settings/